In [2]:
import pandas as pd
import numpy as np

# random but reproducible
rng = np.random.default_rng(42)
countries = ['USA', 'Canada', 'Germany', 'France', 'Japan', 'India']
n = 20

# one text + one numeric column
df = pd.DataFrame({
    'id': np.arange(1, n+1),
    'country': rng.choice(countries, size=n),  # text column
    'sales': rng.integers(10, 100, size=n)     # numeric column
})
df.head()

   id  country  sales
0   1      USA     55
1   2    Japan     43
2   3   France     26
3   4  Germany     93
4   5  Germany     80

In [3]:
# new numeric column via lambda (e.g., addition)
df['sales_plus_5'] = df['sales'].apply(lambda x: x + 5)
df[['id','country','sales','sales_plus_5']].head()

   id  country  sales  sales_plus_5
0   1      USA     55            60
1   2    Japan     43            48
2   3   France     26            31
3   4  Germany     93            98
4   5  Germany     80            85

In [4]:
# label-style flag + boolean flag from text via lambda
region_map = {
    'USA': 'North America', 'Canada': 'North America',
    'Germany': 'Europe', 'France': 'Europe',
    'Japan': 'Asia', 'India': 'Asia'
}
df['region'] = df['country'].apply(lambda c: region_map.get(c, 'Other'))
df['is_europe'] = df['region'].apply(lambda r: r == 'Europe')
df.head(10)

   id  country  sales  sales_plus_5         region  is_europe
0   1      USA     55            60  North America      False
1   2    Japan     43            48           Asia      False
2   3   France     26            31         Europe       True
3   4  Germany     93            98         Europe       True
4   5  Germany     80            85         Europe       True
5   6    India     67            72           Asia      False
6   7      USA     46            51  North America      False
7   8    Japan     84            89           Asia      False
8   9   Canada     59            64  North America      False
9  10      USA     49            54  North America      False